<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="javascript:window.location.reload();" class="navbar-brand">GIF Loader</a>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a href="javascript:window.location.reload();">Home</a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="javascript:window.location.reload();" class="navbar-brand">Sai Venkatesh</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
